{% extends '::base.html.twig' %}

{% block specific_stylesheets %}
    <link rel="stylesheet" href="{{ asset('/Public/css/Special.css') }}">
{% endblock specific_stylesheets %}
{% block content %}

    <div class="container" id="texto">
        <p id="tittle"> ¿Qué es la endodoncia?</p>
        <p id="content">
            Se llama endodoncia, de endo (interior) y doncia (diente), a un tipo de tratamiento que se realiza en odontología.
            Consiste en la extirpación de la pulpa dental y el posterior relleno y sellado de la cavidad pulpar con un material
            inerte.</p>
        <p  id="content"> La terapia endodóntica consiste en la extirpación total de la pulpa dental. Se aplica en piezas
            dentales fracturadas, con caries profundas que presentan lesiones en su tejido pulpar que se conocen como pulpitis.
            Esta es irreversible y la única opción terapéutica es la extirpación total de la pulpa dental, y la obturación tridimensional
            del conducto dentario. La pulpitis está frecuentemente provocada por caries dentales profundas que alcanzan la pulpa dental y
            producen infección en la misma, originando dolor continuo y permanente que aumenta con estímulos fríos, calientes, alimentos
            dulces o ácidos.</p>
        <h6>Wikipedia,Endodoncia, "https://es.wikipedia.org/wiki/Endodoncia"</h6>
    </div>

{% endblock content %}