{% extends '::base.html.twig' %}

{% block specific_stylesheets %}
    <link rel="stylesheet" href="{{ asset('/Public/css/Special.css') }}">
{% endblock specific_stylesheets %}
{% block content %}

    <div class="container" id="texto">
        <p id="tittle"> ¿Qué es la especialidad maxilofacial?</p>
        <p id="content">
            Se la define como una especialidad de la Odontología, indicando el campo de actuación de una forma similar al de la IAOMS,
            aunque también existen médicos especializados en este territorio, habitualmente cirujanos plásticos,
            que utilizan la denominación de cirujano maxilofacial, así como la especialidad médica de Cirugía de Cabeza,
            Cuello y plástica Maxilofacial, los cuales se dedican al tratamiento quirugico de las patologías oncológicas de cabeza y cuello</p>
        <h6>Wikipedia;,Cirugía oral y maxilofacial, "https://es.wikipedia.org/wiki/Cirugía_oral_y_maxilofacial"</h6>
    </div>

{% endblock content %}