{% extends '::base.html.twig' %}

{% block specific_stylesheets %}
    <link rel="stylesheet" href="{{ asset('/Public/css/Special.css') }}">
{% endblock specific_stylesheets %}

{% block content %}

   <div class="container" id="texto">
            <p id="tittle"> ¿Qué es la ortodoncia?</p>
            <p id="content">
            Ortodoncia es una especialidad de la odontología que se encarga de la corrección de los dientes y huesos posicionados incorrectamente. Los dientes en mala posición y los que no muerden correctamente unos contra otro son difíciles de mantener limpios, corren riesgos de pérdida precoz debido a caries y enfermedades periodontales, y ocasionan una tensión extra sobre los músculos de la masticación que puede generar dolores de cabeza, síndrome de ATM y dolores varios en cuello, hombros y espalda. Además, los dientes girados o posicionados incorrectamente desmerecen nuestro aspecto.<br>
            Los tratamientos ortodóncicos tienen la ventaja de proporcionarnos una boca sana, una sonrisa de aspecto agradable y dientes con mayores posibilidades de durar toda la vida.<br>
             El especialista en este campo recibe el nombre de ortodoncista. Además de la formación universitaria básica de cuatro años, el ortodoncista cuenta con dos o más años de estudio en un programa de especialización ortodóncica avalado por la SEP o la UNAM y por la escuela donde se estudio.<br>
            </p>
            <p id="tittle">¿Cómo sé si necesito tratamiento de ortodoncia?</p>
            <p  id="content"> Sólo su dentista u ortodoncista puede determinar si usted necesita un tratamiento de ortodoncia basándose en elementos de diagnóstico tales como historia clínica y odontológica completa, examen clínico, modelos en yeso de sus dientes, radiografías y fotografías. De acuerdo con el diagnóstico realizado, su ortodoncista u dentista decidirá si usted necesita un tratamiento de ortodoncia y desarrollará un plan de tratamiento adecuado a sus necesidades.</p>
       <h6>Colgate&copy;, ¿Qué es la ortodoncia?, "http://www.colgate.com.mx/es/mx/oc/oral-health/life-stages/teen-oral-care/article/what-is-orthodontics"</h6>
   </div>


{% endblock content %}